:root {
  --primary-color: #2185d0;
  --secondary-color: #1a58e8;
  --royal-color: #1820de;
  --highlight-color: #dee5f3;
  --contrast-color: #9cb3dc;
  --text-color: whitesmoke;
}
body #root,
body #root .ui.menu {
  background-color: var(--secondary-color);
  color: var(--text-color);
}

body #root h3.ui.header {
  font-family: 'Roboto Slab';
  font-size: 2em;
}

body #root h1.ui.header,
body #root h2.ui.header,
body #root h3.ui.header,
body #root h4.ui.header,
body #root a {
  color: var(--text-color);
}

body #root .ui.largeCard {
  width: 500px;
}

.simplecard p {
  font-size: 1.33em;
}

.simplecard {
  margin-top: 2em;
  margin-bottom: 2em;
}

.top {
  margin-top: -1em;
}
