.navigation {
  font-family: 'Roboto Slab';
}
.showcaseTitle {
  font-family: 'Permanent Marker';
  font-size: 3rem;
  font-style: italic;
}
.showcaseTitle p {
  padding-top: 20px;
  padding-bottom: 20px;
}
