.homepage {
  .card-title {
    font-family: 'Roboto Slab';
  }

  .text-body {
    font-family: 'Montseratt';
    p {
      font-size: 1.25rem;
    }
  }

  .inner-grid {
    margin-left: 1rem;
  }

  .img-item-1 {
    background-image: url('https://kecskes.net/images/tau_ceti_austin_mural_tall.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
  }

  .title {
    font-family: 'Roboto Slab';
  }

  .subtitle {
    font-size: 0.75rem;
  }

  .card-title {
    font-family: 'Roboto Slab';
  }

  .img-item-1 {
    background-image: url('https://kecskes.net/images/tau_ceti_austin_mural_tall.jpg');
    border-radius: 5px;
  }

  .title {
    font-family: 'Roboto Slab';
  }

  .subtitle {
    font-size: 0.75rem;
  }

  @media (min-width: 1000px) {
    .card-title {
      font-size: 2rem;
    }
    .text-body .title {
      font-size: 3rem;
    }
  }

  @media (max-width: 700px) {
    .text-body .title {
      font-size: 2rem;
    }
    .inner-grid {
      margin-left: 0rem;
    }
  }
}
