.liteTitle {
  margin-bottom: 4em;
  text-align: center;
  justify-content: space-evenly;
  display: flex;
  flex-flow: row wrap;

  &.container {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4em;
  }

  h1 {
    font-size: 3em;
    font-weight: bold;
    font-family: 'Roboto Slab';
    min-height: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .btn-toolbar {
    align-self: center;
  }
}
