.react-icons {
  vertical-align: middle;
  &.large {
    font-size: 35px;
  }
  &.x-large {
    font-size: 50px;
  }
  &.medium {
    font-size: 27px;
  }
  &.title {
    margin-right: 14px;
    margin-left: 7px;
  }
}
