:root {
  --primary-color: #2185d0;
  --secondary-color: #1a58e8;
  --secondary-color-inverted: whitesmoke;
  --royal-color: #1820de;
  --highlight-color: #dee5f3;
  --contrast-color: #9cb3dc;

  --text-color: #002e63;
  --text-color-inverted: whitesmoke;
  --secondary-color: #1a58e8;
  --secondary-color-inverted: whitesmoke;
}
body #root .ui.menu .item .reactLink {
  /* So that it will match the semantic ui style */
  position: relative;
  vertical-align: middle;
  line-height: 1;
  flex: 0 0 auto;
}
.simplecard.announce {
  font-family: 'Montserrat Alternates';
  font-size: 1.5em;
  margin-left: 50px;
}

body #root .container.basic-md-container {
  margin-top: 5em;
  margin-bottom: 5em;
  font-family: 'Roboto';
  font-size: 1.25em;
}
body #root .container.basic-md-container h1 {
  font-size: 2.5em;
}
body #root .container.basic-md-container h2 {
  font-size: 1.5em;
}
body #root .container.basic-md-container h1,
body #root .container.basic-md-container h2,
body #root .container.basic-md-container h3,
body #root .container.basic-md-container h4,
body #root .container.basic-md-container h5 {
  font-family: 'Montserrat';
}

body #root #main-site-header,
body #root #footer {
  color: var(--text-color-inverted);
  background-color: var(--secondary-color);
}
body #root #footer h2,
body #root #footer h1,
body #root #footer h4,
body #root #main-site-header h2,
body #root #main-site-header h1,
body #root #main-site-header h4 {
  font-family: 'Roboto Slab';
  font-weight: 'normal';
  margin-bottom: 0;
  color: var(--text-color-inverted);
}

body #root {
  background-color: var(--secondary-color-inverted);
  color: var(--text-color);
}
body #root .ui.menu {
  background-color: var(--text-color-inverted);
  color: var(--secondary-color);
}

body #root h3.ui.header {
  font-family: 'Roboto Slab';
  font-size: 2em;
}
body #root #main-site-header .button:hover {
  color: var(--secondary-color);
  background-color: var(--secondary-color-inverted);
}

body #root #main-site-header .button {
  color: var(--text-color-inverted);
}

body #root .ui.secondary.inverted.menu a.item {
  color: var(--text-color) !important;
}

body #root #footer .button:hover {
  color: var(--secondary-color);
  background-color: var(--secondary-color-inverted);
}
body #root #footer .button {
  color: var(--secondary-color-inverted);
  background-color: var(--secondary-color);
}
body #root h1.ui.header,
body #root h2.ui.header,
body #root h3.ui.header,
body #root h4.ui.header,
body #root a {
  color: var(--text-color);
}

body #root #main-site-header .ui.secondary.inverted.menu a.item {
  color: var(--secondary-color);
}
body #root .mainMenuItem:hover {
  border-bottom: 2px solid var(--royal-color);
  color: var(--secondary-color-inverted);
}
body #root .mainDropdownItem:hover {
  color: var(--secondary-color-inverted);
  border-bottom: 2px solid var(--royal-color);
}

body #root .ui.dropdown > .dropdown.icon:before,
body #root .ui.dropdown > .text {
  color: var(--text-color);
  font-weight: 400;
}

body #root .ui.menu .ui.dropdown .menu {
  padding-left: 0px;
  padding-right: 0px;
}

.simplecard p {
  font-size: 1.33em;
}

.simplecard {
  margin-top: 2em;
  margin-bottom: 2em;
}

.top {
  margin-top: -1em;
}

@media only screen and (max-width: 600px) {
  #showcase h3 {
    text-indent: 0em;
  }

  .simplecard.announce {
    font-size: 16px;
    font-family: 'Montserrat';
    margin-left: 0px;
  }
}

@media only screen and (max-width: 767px) {
  [class*='mobile hidden'],
  [class*='tablet only']:not(.mobile),
  [class*='computer only']:not(.mobile),
  [class*='large screen only']:not(.mobile),
  [class*='widescreen only']:not(.mobile),
  [class*='or lower hidden'] {
    display: none !important;
  }
}
